################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogPod/.vs/BlogPod/FileContentIndex/3750e1f3-25e5-4fcd-8007-8501c57b35c2.vsidx
/BlogPod/.vs/BlogPod/FileContentIndex/5926baf3-f004-43a7-8ef9-7ec7a3843240.vsidx
