@model BlogPod.MVC.Entites.CityEntity

@{
    ViewData["Title"] = "Create";

     List<SelectListItem> GetCountries()
    {
        return new List<SelectListItem>()
        {
            new SelectListItem { Value = "Polska", Text = "Polska" },
            new SelectListItem { Value = "Wlochy", Text = "Wlochy" },
            new SelectListItem { Value = "Irlandia", Text = "Irlandia" },
            new SelectListItem { Value = "Tajlandia", Text = "Tajlandia" }
        };
    }
}

<style>
    .btn {
        margin-top: 5px;
    }

    .form-group {
        margin: 25px;
    }

    .text {
        padding: 10px;
        height: 12rem;
    }

</style>

<h1>Create</h1>

<h4>CityEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea row="10" cols="50" asp-for="Text" class="form-control text"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="ImageFile" class="form-control" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="Country" asp-items="GetCountries()" class="form-control"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a type="button" class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
